<div class="container">
  <!-- <button mat-button [routerLink]="['/chat']">Back to Groups</button> -->
  <!-- <mat-list class="rooms">
    <h3 mat-subheader>Gruops</h3>
    <mat-list-item *ngFor="let group of groups | async"
        [routerLink]="['/chat/',group.name,'messages']"
    >

        <mat-icon mat-list-icon> chat </mat-icon>
        <h4 mat-line>{{ group.name }}</h4>
        <p mat-line>{{ group.description }}</p>
    </mat-list-item>
</mat-list> -->

  <mat-selection-list class="rooms" [multiple]="false">
    <mat-list-option *ngFor="let group of groups | async" [routerLink]="['/chat/',group.name,'messages']"
      [value]="group">
      <mat-icon mat-list-icon> messages </mat-icon>
      <h4 mat-line>{{ group.name }}</h4>
      <p mat-line>{{ group.description }}</p>
    </mat-list-option>
  </mat-selection-list>

  <div class="mat-card">

    <h3 mat-subheader class="group">{{ group }}</h3>
    <mat-list>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let message of messages | async">
          <div class="ftText">{{ message.text }}</div>
        </div>
      </cdk-virtual-scroll-viewport>

      <!-- <mat-list-item class="gradient-text" *ngFor="let message of messages | async">
    {{ message.text }}
  </mat-list-item> -->
  <div class="message-editor">
    <!-- <mat-form-field class="message-editor-field input"> -->
    <input  [(ngModel)]="newMessage" matInput placeholder="Message the group" autocomplete="off"
      (keyup.enter)="send()" />
    <!-- </mat-form-field> -->
    <div>
      <img src="../../assets/send.png" (click)="send()" height="30px" alt="">
    </div>
  </div>
    </mat-list>
  </div>
</div>