@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.example-viewport {
    height: 450px;
    width: 100%;
  }
  
  .example-item {
    height: 50px;
    margin-left: 20px ;
  }
.mat-list-item {
  cursor: pointer;
h4{
  font-size: 25px;

}
  &:hover h4 {
    text-decoration: underline;
  }
}
.container {
  padding: 0;
  margin-top: 10px;
//   background: linear-gradient(to right, #fc5c7d, #6a82fb);
//  background: linear-gradient(to right, #f12711, #f5af19);
//   display: flex;
  height: auto;
  .rooms {
    position: fixed;
    width: auto;
    top: 10;
  }
  .mat-card {
    border-radius: 25px;
    
    width: 70%;
    height: 100%;
    // margin: auto;
    align-items: center;
    float: right;
    margin-right: 20px;
    justify-content: right;
    .mat-subheader {
      width: 100%;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      -webkit-box-shadow: 0px 6px 11px -2px rgba(138, 126, 138, 1);
      -moz-box-shadow: 0px 6px 11px -2px rgba(138, 126, 138, 1);
      box-shadow: 0px 6px 11px -2px rgba(138, 126, 138, 1);
      background: linear-gradient(to right, #003973, #e5e5be);
      font-size: 25px;
      margin-top: 0px;
      text-transform: uppercase;
      // border-radius: 25px;
    }
    .mat-list {
      .gradient-text {
        font-size: 32px;
      }
    }
    .message-editor {
      // display: inline;
      position: fixed;
      width: 68%;
      bottom: 20;
      text-align: center;
      padding: 0 10px;
      .message-editor-field {
        width: 70%;
      }
    }
  }
}
